body, html {
    background: url(/app/assets/img/wood-texture.jpg) repeat;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

.wp-bs { 
    box-shadow: 0 0 9pt 2pt #5d5d5d;
    height: 100px;
    width: 100px;
}

.wp-cs {
    position:relative;
    top: 36px;
    left: 7px;
}

.ra {
    box-shadow: 0 0 10pt 1pt #A2A2A2;
    padding: 10px;
    border-radius: 10px;
    height: 100px;
    width: 200px;
}

.ra:hover {
    box-shadow:0 0 10pt 1pt #436D98;
    cursor: pointer;
}

a:hover, a:focus {
    text-decoration: none !important;
}

a:visited {
    text-decoration: none;
}

#PageContainer {
   overflow:hidden;
}

#PageContainer > .row > .LeftSide {
    padding: 0;
    position: relative;
}

.carousel-control, .carousel-indicators {
    /*display: none;*/
}

.SideNav {
    width: 100%;    
    background: rgba(231, 76, 60,.8);
    min-height: 100px;
    margin: 0 auto;
    padding: 25px 5px 10px 5px;
}

.SideNav h1 {
   font-family: 'Fredericka the Great', cursive;     
   color: #fff;
   font-size: 35px;
   text-align: center;
}

.SideNav h1 a {   
   color: #fff;
   text-decoration: none;
}

.SideNav h1 a:hover {
    text-decoration: none; 
}

.SideNav ul {
    list-style: none;
}

.SideNav ul li {
    text-align: center;
}

.SideNav ul li a {
    color: #fff;
    font-size: 25px;
    border-top: 1px dashed #fff;
    padding:10px 0;
    display: block;
    font-family: 'Macondo', cursive;
    -webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.SideNav ul li:first-child a {
    border: none;
}

.SideNav ul li a:hover {
    text-decoration: none;
    color: rgba(231, 76, 60,.8);
    background: #fff;
    -webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.SideNav ul li a:visited { 
    text-decoration: none;
}

.MobileBar { 
    position: fixed;
    top: 10px; 
    right: 15px;
    z-index: 100;
    width: 50px;
    padding: 8px;
    border: 1px solid #ccc;
    background: #F1F1F1;
    box-shadow: 0 0 4pt -1px #000;
    border-radius: 5px;
}

.MobileBar div:first-child {
    margin-top: 0;
}

.MobileBar div {
    background: rgb(231, 76, 60);
    height: 5px;
    margin-top: 4px;
}

.MobileBar div:hover {
    cursor: pointer;
}

.MobileNav {
    position: fixed;
    width: 90%;
    left: 5%;
    top: 0;
    background: rgba(231, 76, 60,.9);
    padding: 10px 5px 10px 5px;
    z-index: 101;
}

.MobileNav ul {
    list-style: none;
}

.MobileNav ul li {
    text-align: center;
}

.MobileNav ul li:first-child {
    margin-bottom: 10px;    
}

.MobileNav ul li a {
    color: #fff;
    font-size: 25px;
    border-top: 1px dashed #fff;
    padding:10px 0;
    display: block;
    font-family: 'Macondo', cursive;
    -webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
    text-decoration: none;
}

.MobileNav ul li:nth-child(2) a {
    border-top: 1px solid #fff;
}

.MobileNav ul li:first-child a {
    font-family: 'Fredericka the Great', cursive;   
    font-size: 30px;
    border: none;
}

.MobileNav ul li a:hover {
    text-decoration: none;
    color: rgba(231, 76, 60,.8);
    background: #fff;
    -webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.MainCol {
    background: #fff;
}

#HomeSlider { 
    max-height: 400px;
    background: #56514E;
    overflow:hidden;
}

.HomeWelcome {
    margin: 25px 0 0 0;
}

.HomeWelcome h1 {
   font-family: 'Fredericka the Great', cursive;     
   color: rgb(231, 76, 60);
   font-size: 60px;
   text-align: center;
}

.SmallAnd {
    font-family: 'Lobster', cursive;
    font-size: 45px;
    color: rgb(142, 89, 54);
}

.HomeInvite {
    text-transform: uppercase;
    color: rgb(142, 89, 54);
    font-size: 15px;
    text-align: center;
    margin-top: 12px;
    font-weight: 600;
}

.HomeDate {
    color: rgb(142, 89, 54);
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Macondo', cursive;
    margin-top: 7px;
    text-align:center;
}

.HomeYear {
    color: rgb(142, 89, 54);
    font-size: 40px;
    font-family: 'Fredericka the Great', cursive;  
    margin-top: 7px;
    text-align:center;
}

.HomeTime {
    color: rgb(142, 89, 54);
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Macondo', cursive;
    margin-top: 7px;
    text-align:center;
}

.HomeLocation {
    color: rgb(142, 89, 54);
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Fredericka the Great', cursive;  
    margin-top: 7px;
    text-align:center;
}

.HomeDance {
    color: rgb(142, 89, 54);
    font-size: 15px;  
    font-family: 'Lobster', cursive;
    margin-top: 7px;
    text-align:center;
}

.HomeCountdown {
    color: rgb(142, 89, 54);
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Fredericka the Great', cursive;  
    margin-bottom:25px;
}

.TextBlock {
    margin: 20px 0 0 0;
    padding: 15px;
	/* gradients - second red border, first red border, top white space, blue lines */
    background-image:  -webkit-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -webkit-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -webkit-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -webkit-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  -moz-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -moz-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -moz-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -moz-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  -ms-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -ms-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -ms-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -ms-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  -o-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -o-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -o-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -o-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-size: 1px, 1px, auto, auto 20px;
    background-repeat: repeat-y, repeat-y, no-repeat, repeat;
    background-position: 90% 0px, 10% 0px, 0px 0px, 0px 0px;
    border: 1px solid #ccc;
}

.TextBlock p:first-child {
	margin: -3px 0 0 0;
    display: block;
    line-height: 20px;
    padding-top: 50px;
    padding-left: 10.5%;
    padding-right: 10.5%;
    text-align: justify;
    color: #676767;
    font-size: 15px;
}

.TextBlock p {
	margin: -3px 0 0 0;
    display: block;
    line-height: 20px;
    padding-top: 23px;
    padding-left: 10.5%;
    padding-right: 10.5%;
    text-align: justify;
    color: #676767;
    font-size: 15px;
}

.Gallery {
    margin-bottom: 50px;
    max-height: 600px;
    overflow: auto;
}

.Gallery div {
    width: 99%;
    margin-right: 1%;    
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    background: #000;
    padding: 5px;
}

.Gallery img {
    max-height: 150px;
}

.LargeImage {
    position: relative;
}

.LargeImage .Controls {
    color: #fff;
    z-index: 100;
    position:absolute;
    height:100%;
    font-size: 45px;
    background: none;
    border: none;
}

.LargeImage .Controls:focus {
    outline: none;
}

.LargeImage .Controls.glyphicon-chevron-right {
    right:20px;
    text-shadow: 0 0 5pt #000;
}
.LargeImage .Controls.glyphicon-chevron-left {
    left:20px;
    text-shadow: 0 0 5pt #000;
}

.CloseModal {
    font-size: 26px;
    color: rgb(231, 76, 60);      
    position: absolute;
    left: -13px;
    top: -11px;
    text-shadow: 0 0 4pt #fff;
}

.CloseModalDark {
    font-size: 26px;
    color: rgb(231, 76, 60);    
    position: absolute;
    left: -13px;
    top: -11px;
    text-shadow: 0 0 4pt #000;
}

.Guestbook {
    /*max-height: 600px;
    overflow: auto;*/
}

.Guestbook > div {
    float: left;
    width: 100%;
    margin-right: 1%;
    margin-bottom: 25px;
}

.Guestbook.TextContainer {
    width: 100%;
}

.BigSpinner {
    font-size: 30px !important;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48 !important;
}

    .field-validation-error span {
        color: #b94a48 !important;
    }

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #b94a48;    
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors ul li {
    color: #e74c3c;
    list-style: none;
}

.validation-summary-valid {
    display: none;
}

*:focus {
    outline: 0;
}

.ScrollTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 0 15px;    
    z-index: 110;
    cursor: pointer;
    border: 1px solid #ccc;
    background: #F1F1F1;
    box-shadow: 0 0 4pt -1px #000;
    border-radius: 5px;
}

.ScrollTop i {
    font-size: 50px;
    color: #fff;
    text-shadow: 0 0 5pt #000;
}